force-app/main/default/flows/Sync_Account_to_MYOB.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Sync_Contact_To_MYOB</name>
        <label>Sync Contact To MYOB</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <actionName>MYOB_PostContactRequestFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>FinishScreen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>AccountSFID</name>
            <value>
                <elementReference>Get_Account_Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Addresses</name>
            <value>
                <elementReference>varAddressList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CompanyName</name>
            <value>
                <elementReference>Get_Account_Record.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>DisplayID</name>
            <value>
                <elementReference>Get_Account_Record.MYOB_Display_ID_bric__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsIndividual</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Notes</name>
            <value>
                <elementReference>varSpecialInstructions</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RowVersion</name>
            <value>
                <elementReference>Get_Account_Record.MYOB_RowVersion__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SellingDetails</name>
            <value>
                <elementReference>varSellingDetails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>UID</name>
            <value>
                <elementReference>Get_Account_Record.MYOB_GUID__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MYOB_PostContactRequestFlow</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Billing_Address</name>
        <label>Assign Billing Address</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varBillingAddress.Location</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBillingAddress.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Record.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBillingAddress.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Record.BillingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBillingAddress.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Record.MYOB_Emails_bric__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBillingAddress.ContactName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPrimaryContactName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBillingAddress.PostCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Record.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBillingAddress.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Record.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBillingAddress.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Record.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBillingAddress.Website</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Record.Website</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBillingAddress.Phone1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Record.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBillingAddress.Phone2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Record.Phone2_bric__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBillingAddress.Phone3</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Record.Phone3_bric__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Shipping_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Closing_Times</name>
        <label>Assign Closing Times</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>varClosingTimes.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CLOSING TIMES</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varClosingTimes.Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Record.Closing_Time_bric__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sync_Contact_To_MYOB</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opening_Times</name>
        <label>Assign Opening Times</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>varOpeningTimes.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OPENING TIMES</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpeningTimes.Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Record.Opening_Time_bric__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Closing_Times</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selling_Details</name>
        <label>Assign Selling Details</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varSellingDetails.TaxCode.UID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.MYOBAPICodes__c.Tax_Code_UID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSellingDetails.FreightTaxCode.UID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.MYOBAPICodes__c.Freight_Tax_Code_UID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSellingDetails.ABN</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Record.ABN_Bric__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSellingDetails.ShippingMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Record.Shipping_Method_bric__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSellingDetails.SaleComment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Record.Delivery_Days_Text_bric__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>if_Account_is_person_account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Shipping_Address</name>
        <label>Assign Shipping Address</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varShippingAddress.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Record.ShippingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varShippingAddress.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Record.ShippingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varShippingAddress.Location</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varShippingAddress.PostCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Record.ShippingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varShippingAddress.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Record.ShippingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varShippingAddress.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Record.ShippingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varShippingAddress.Website</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Record.Website</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Address_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Address_List</name>
        <label>Assign to Address List</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>varAddressList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varBillingAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAddressList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varShippingAddress</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Opening_Times</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Billing_Address</name>
        <label>Copy 1 of Assign Billing Address</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varBillingAddress.Location</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBillingAddress.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Record.PersonMailingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBillingAddress.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Record.PersonMailingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBillingAddress.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Record.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBillingAddress.ContactName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPrimaryContactName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBillingAddress.PostCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Record.PersonMailingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBillingAddress.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Record.PersonMailingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBillingAddress.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Record.PersonMailingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBillingAddress.Website</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Record.Website</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBillingAddress.Phone1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Record.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBillingAddress.Phone2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Record.Phone2_bric__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBillingAddress.Phone3</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Record.Phone3_bric__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Assign_Shipping_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Shipping_Address</name>
        <label>Copy 1 of Assign Shipping Address</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varShippingAddress.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Record.PersonOtherCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varShippingAddress.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Record.PersonOtherCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varShippingAddress.Location</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varShippingAddress.PostCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Record.PersonOtherPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varShippingAddress.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Record.PersonOtherState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varShippingAddress.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Record.PersonOtherStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varShippingAddress.Website</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Record.Website</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Assign_to_Address_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_to_Address_List</name>
        <label>Copy 1 of Assign to Address List</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>varAddressList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varBillingAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAddressList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varShippingAddress</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Opening_Times</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>GST Tax Code</description>
        <name>varTaxCode</name>
        <dataType>String</dataType>
        <value>
            <stringValue>72288759-60c4-44f7-89eb-1748bb9a36ff</stringValue>
        </value>
    </constants>
    <decisions>
        <name>if_Account_is_person_account</name>
        <label>if Account is person account</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Assign_Billing_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Business Account</defaultConnectorLabel>
        <rules>
            <name>Person_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Record.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Billing_Address</targetReference>
            </connector>
            <label>Person Account</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>varPrimaryContactName</name>
        <dataType>String</dataType>
        <expression>{!Get_Account_Record.Primary_Contact_Bric__r.FirstName} +&quot; &quot;+{!Get_Account_Record.Primary_Contact_Bric__r.LastName}</expression>
    </formulas>
    <formulas>
        <name>varSpecialInstructions</name>
        <dataType>String</dataType>
        <expression>LEFT({!Get_Account_Record.Description},255)</expression>
    </formulas>
    <interviewLabel>Sync Account to MYOB {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sync Account to MYOB</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account_Record</name>
        <label>Get Account Record</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Selling_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>FinishScreen</name>
        <label>FinishScreen</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Successfully Sent to MYOB!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAddressList</name>
        <apexClass>MYOB_FlowParam_Address</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBillingAddress</name>
        <apexClass>MYOB_FlowParam_Address</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varClosingTimes</name>
        <apexClass>MYOB_FlowParam_CustomList</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOpeningTimes</name>
        <apexClass>MYOB_FlowParam_CustomList</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSellingDetails</name>
        <apexClass>MYOB_FlowParam_SellingDetail</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varShippingAddress</name>
        <apexClass>MYOB_FlowParam_Address</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
